/* VARIABLES */

:root {
  --color1: rgb(174, 138, 40);
  --color2: #f4f4f4;
  --color3: #7b98fc;
  --color4: #df7bfc;
  --color5: #f25334;
  --color6: #0b0b0b;

  --textDefaul: "Heebo", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
  text-decoration: none;
}

body {
  background-image: url("../imagenes/fondoNegro.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: auto;
  .container-fluid {
    background-color: var(--color1);
    li {
      display: inline;
      padding: 5px;
      font-size: 30px;
    }
    a {
      text-decoration: none;
      color: var(--color6);
      font-size: 24px;
    }
    a:hover {
      border: none;
      color: var(--color2);
      text-align: center;
      font-size: 32px;
      -webkit-text-stroke: none;
      transition: 0.2s;
    }
  }
}
#logoInicio {
  width: 400px;
  height: 280px;
  padding: 1.3%;
  display: block;
  margin: auto;
}

.contenedorPizzas {
  display: grid;
  grid-template-columns: auto;
  row-gap: 50px;
  color: var(--color2);
  font-size: 4rem;
  -webkit-text-stroke: 1.2px var(--color2);
  img {
    max-width: 30rem;
  }
}

.nombreMoe,
.Nosotros {
  text-align: center;
  color: var(--color2);
  padding: 20px;
  .h1 {
    font-size: 40px;
  }
  #texto1 {
    padding: 20px;
    font-size: 30px;
  }
  #texto2 {
    padding: 20px;
    font-size: 25px;
  }
}
.contenedorNosotros {
  display: grid;
  grid-template-columns: auto;
  row-gap: 50px;
  color: var(--color2);
}

p,
.listaPizzas img {
  height: 150px;
}

.preguntas {
  color: var(--color6);
  text-align: left;
}

.registro label {
  color: var(--color2);
}
